.home {
  height: calc(100vh - 70px);
  background-color: var(--primary--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.title {
  margin-top: 10px;
  border-bottom: 2px solid var(--primary--red);
}

/* --------- JOKES CONTAINER --------- */

.new-joke,
.fav {
  background-color: var(--main--white);
  height: 40%;
  width: 50%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* --------- LIST JOKES CONTAINER --------- */

.fav {
  display: flex;
  overflow-y: scroll;
}

.fav-container {
  width: 100%;
  padding: 50px;
}
